<%- include("header") -%>
<!-- vanta animation to whole page -->
<div id="vanta-canvas">
  <!-- head section of /country page -->
  <section id="head">
    <div class="container ">
      <form action="/country" method="post" class="item">  
      <div class="row g-3">
        <!-- select column1 -->
        <div class="col-md move2">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" name="countryName">
              <option selected >India</option>
              <% for(let i=0; i<countriesList.length;i++){%>
                  <option value= <%= countriesList[i] %> > <%= countriesList[i] %> </option>
              <%}%>
            </select>
            <label for="floatingSelectGrid" class="color">Select Country</label>
          </div>
        </div>
        <!-- select column 2 -->
        <div class="col-md move2">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" name="noOfDays">
              <option selected>10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
            </select>
            <label for="floatingSelectGrid" class="color">Select Number Of Days</label>
          </div>
        </div>
        <!-- button -->
        <div class="col-md move2">
            <div class="col-12">
              <button type="submit" id="button" class="btn btn-outline-primary btn-lg change">Go</button>
            </div>
        </div>
      </form>
      </div>
      <!-- card with title -->
      <div class="shadow p-3 mb-5 bg-body rounded move">
        Covid Cases In <strong><%= countryName %></strong> In last <strong><%= userDays%></strong> Days
      </div>
  </section>

  <!-- chart -->
  <section id="chart" class="container">
  <div class="container chartjs"  >
      <canvas id="myChart" class="shadow-lg p-3 mb-5 bg-body rounded" ></canvas>
  </div>
  <!-- chart script-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
  <script>
      // importing data from x axis and converting to list
      const labelsList= '<%= xAxis %>';
      const finalx=labelsList.split(",");
      // importing data from y axis and converting to list
      const dataList='<%= yAxis %>'
      const finaly=dataList.split(",");
      // creating chart
      const ctx = document.getElementById('myChart');
      const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels:finalx,
              datasets: [{
                  label: 'Total Cases',
                  data: finaly,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              respnsive:true,
              maintainAspectRation:false,
              animation:true,
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  </script>
  </section>
<!-- vanta script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script>
    VANTA.NET({
      el: "#vanta-canvas",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      backgroundColor: 0xffffff
    })
    </script>
</div>

  
</body>
</html>
